<div class="row mt-4 mb-4">
  <div class="col-md-10  d-flex justify-content-end">
    <form action="/search" method="POST" class="form-inline">
      <div class="form-group">
        <label for="categoryId"><span class="search-title">類別：</span></label>
          <select class="form-control ml-3" id="categoryId" name="categoryId" required>
            {{#each categoryData}}
              <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
      </div>
      <button class="btn btn-outline-secondary ml-4" type="submit">搜尋</button>
    </form>
  </div>
  <div class="col-md-6 mx-auto d-flex justify-content-center mt-4">
    <h2>總金額：</h2>
    <h2 class="totalAmount ml-3">
      {{#if totalAmount}}
        {{ totalAmount }}
      {{else}}
        0
      {{/if}}
      </h2>
  </div>
  <div class="col-md-8 mx-auto">
    {{#if expenses }}
    <ul class="list-group">
      {{#each expenses}}
      <li class="list-group-item m-3">
        <div class="row">
          <div class="col-9 d-flex justify-content-start align-items-center">
            <i class="{{ this.icon }} fa-2x mr-5"></i>
            <div class="d-flex flex-column justify-content-center mr-5">
              <strong>{{ this.name }}</strong>
              <div class="time">{{ this.date }}</div>
            </div>            
            <div class="amount">金額：{{ this.amount }} </div>
          </div>
          <div class="col-3 d-flex align-items-center">
            <a href="/expense/edit/{{this._id}}" type="button" class="btn btn-outline-success mr-3">修改</a>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" data-id="{{this._id}}">
              刪除
            </button>  
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
      <div class="container flex-column d-flex align-items-center mt-4">
        <h1 class="display-4">沒有任何支出紀錄</h1>
        <p class="lead mt-4">請點擊新增支出按鈕，快來記帳吧!!</p>
      </div>
    {{/if}}
    <a class="btn btn-warning btn-lg btn-block mt-4" href="/expense/create" type="button">新增支出</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">是否刪除支出</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        注意!!支出一旦刪除<strong class="text-danger">無法復原</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <form action="/expense/{{this._id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-outline-danger">刪除</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  
</script>